#fh5co-wrap,
#fh5co-footer {
    left: 33%;
}


#edit {
    overflow: auto;
    position: fixed;
    top: 0;
    height: 100vh;
    background-color: rgba(255,255,255,0.5);
    z-index: 9999;
    color: #000;
}

.img-select-form:hover {
	border: 1px solid #52d3aa;
	cursor: pointer;
}

#myModal {
    margin-left: 20vw;
}
